/* nav */

nav a {
    text-decoration: none;
    display: block;
    margin-right: 1.2em;
    font-size: 1.5em;
}

/* Landing */


#landing h1 {
    font-size: 4em;
}

#landing ul {
    list-style: none;
}

#landing li {
    display: inline-block;
}

/* About */


